html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-color: #404042;
  height: 15vh;
  width: 100%
}

.input-field {
  background-color: #f8f8f8;
  height: 85vh;
  width: 50%;
}

.card-field {
  background-color: #d1d2d4;
  height: 85vh;
  width: 50%;
}