html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #d1d2d4;
  font-family: "Open sans";
  margin: 0;
}

header {
  background-color: #404042;
  width: 100%
}

.guess-header {
  font-weight: 300;
}

.p-header {
  margin: 0;
}

h1 {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  color: #ec458b;
  font-size: 80px;
  margin: 0;
  text-align: center;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


.p-header {
  align-items: center;
  color:  white;
  display: flex;
  font-size: 30px;
  font-weight: 300;
  justify-content: center;
  margin-left: 26%;
  text-align: center;
  width: 48%;
}

.p-header:before,
.p-header:after {
    border-top: 2px solid;
    content: '';
    flex: 1 0 20px;
    margin: 0 20px 0 0;
}

.p-header:after {
    margin: 0 0 0 20px;
}

.input-field {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
}

.range-field {
  display: inline-block;
  height:170px;
  margin-top: 20px;
}

.set-range{
  font-size: 22px;
  margin: 10px 0 10px 10px;
  margin-left:20px;
}

label {
  color:#606060;
  display: block;
}

.min-div,
.max-div{
  display: inline-block;
  margin-left:20px;
}

.min-input,
.max-input{
  height: 40px;
  margin-bottom: 15px;
  width: 220px;

}

.update-btn{
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background-color: #6E6E6E;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight:600;
  font-size:22px;
  height: 46px;
  margin-bottom: 10px;
  margin-left:35px;
  width: 20%;
}
  @keyframes scale-in-center {
  0% {
    transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.update-btn:hover{
  background-color: #ec458b;}

.range-field,
.player-field,
.score-display {
  background-color: white;
  border: 1px solid #d0d2d3;
  margin-bottom: 20px;
  width: 94%
}

.cur-range {
  color: #606060;
  font-size: 20px;
  margin: 10px 0 30px 20px;
}

.min-num,
.max-num {
  color: #ec458b;
  font-weight: 800;
  text-decoration: underline;
}

h3{
  color: #606060;
  margin: 0;
}

.name1-div {
  display: inline-block;
}

.chal-head-1,
.chal-head-2 {
  font-size: 22px;
  margin: 0 0 10px 20px;
}

.chal-head-2{
  margin-top:35px;
}

.name1-div1,
.name1-div2,
.name2-div1,
.name2-div2 {
  display: inline-block;
  margin-left: 20px;
}

.name-1-input,
.name-2-input{
  height: 40px;
  width: 400px;
}

.guess-1-input,
.guess-2-input {
  height: 40px;
  width: 200px;
}

.submit-btn,
.reset-btn, 
.clear-btn {
  background-color: #6E6E6E;
  border-radius: 30px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  height: 46px;
  margin: 35px 0 30px 10px;
  width: 29%;
}

.submit-btn:hover{
  background-color: #ec458b;
}

.reset-btn:hover{
  background-color: #ec458b;
}


.clear-btn:hover{
  background-color: #ec458b;
}

#larger-button{
  width: 33%;
}

.disabled {
  background-color: #d0d2d3;
  cursor: not-allowed;
}

.input-error {
  border: 2px solid #ec458b;
}

.error-p-range-1,
.error-p-range-2,
.error-p-chal-1,
.error-p-chal-2 {
  color: #ec458b;
  font-size: 16px;
  margin: 0;
  margin-left: 30px;
}

.img-error{
  margin-top:2px;
  height:17px;
}

.score-header{
  font-size: 22px;
  margin: 10px 0 15px 20px;
}

.chal-1-info, 
.chal-2-info{
  display:inline-block;
  margin-bottom: 20px;
  width: 49%;
}

.chal-1-info {
  text-align: center;
}

.chal-2-info{
  border-left: 3px solid #f8f8f8; 
  text-align: center;
}

.chal-1-name,
.chal-2-name {
  color: #606060;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.pink-guess-1,
.pink-guess-2 {
  color: #ec458b;
  font-size: 100px;
  font-weight: 800;
  margin: 0;
}

.current-guess-1,
.current-guess-2 {
  color: #d0d2d3;
  font-size: 20px;
  margin: 0;
}

.boom-msg-1,
.boom-msg-2{
  color: #d0d2d3;
  font-size: 22px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

.card-field {
  align-items: center;
  background-color: #d1d2d4;
  border-left: 1px solid #606060;
  display: flex;
  flex-direction: column;
  float: right;
  height: 120vh;
  width: 50%;
  }

.winner-card {
  animation: rotate-scale-up 0.65s linear both;
  background-color: white;
  border: 1px solid #606060;
  margin-top: 20px;
  width: 90%;
}

@keyframes card-field {
  0% {
            transform: scale(1)rotateZ(0);
            transform: scale(1) rotateZ(0);
    }
  50% {
            transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
    }
  100% {
            transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.vs {
  margin: 0 20px 0 20px;
}

h4,
.vs{
  color: #606060;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-header {
  border-bottom: 1px solid #606060;
  margin-left: 5%;
  text-align: center;
  width: 90%;
}

h2 {
  color: #606060;
  text-align: center;
}

h5 {
  color: #606060;
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.card-footer {
  border-top: 1px solid #606060;
  display: flex;
  margin-left: 5%;
  margin-top: 20px;
  width: 90%;
}

.time {
  margin-left: 190px;
}

.x-btn {
  background-color: #606060;
  border-radius: 50%;
  color: white;
  height: 40px;
  font-size: 20px;
  margin-left: 240px;
  margin-top: 8px;
  width: 40px;
}

.x-btn:hover{
  background-color: #ec458b;}

.clear-cards-btn{
  align-self: flex-end;
 }

 @media screen and (max-width: 1250px) {

  .range-field {
    height: 200px;
  }

  .update-btn {
    width: 30%;
  }

  .p-header {
    font-size: 20px;
    margin-left: 20%;
    width: 60%;
  }
 }


@media screen and (max-width: 1000px) {

  h1 {
    font-size: 50px;
    padding-top: 10px;
  }

  .p-header {
    font-size: 16px;
    margin-left: 28%;
    width: 45%;
  }
  
  .input-field {
    float: none;
    width: 100%;
  }

  .range-field {
    height: 300px;
  }

  .card-field {
    float: none;
    width: 100%;
  }

  .min-input,
  .max-input {
    width: 90%;
  }

  .min-div,
  .max-div{
  display: block;
}

  .update-btn {
    margin-bottom: 20px;
    margin-left: 3%;
    width: 26%;
  }

  label {
    font-size: 20px;
  }

  .name1-div1,
  .name1-div2,
  .name2-div1,
  .name2-div2 {
  display: block;
  margin-left: 20px;
}

.name-1-input,
.name-2-input{
  width: 90%;
}

.guess-1-input,
.guess-2-input {
  width: 90%;
}

.submit-btn,
.reset-btn, 
.clear-btn {
  display: block;
  margin: 20px;
  width: 90%;
}

#larger-button {
  width: 90%;
}

.chal-1-info {
  height: 40%;
  width: 100%;
}

.chal-2-info {
  border-top: 3px solid #f8f8f8;
  display: block;
  height: 60%;
  width: 100%;
}

.chal-1-name, 
.chal-2-name {
  display: block;
}

.chal-2-name {
  margin-top: 20px;
}

.vs {
  margin: 0;
}

.x-btn {
  margin-left: 100px;
}

.card-field {
  border: none;
}

.winnerCard {
  margin-bottom: 20px;
}

}

@media screen and (max-width: 720px) {

  .p-header {
    margin-left: 20%;
    width: 60%;
  }
}

@media screen and (max-width: 400px) {

  h1{
    font-size: 30px;
  }

  .p-header{
    font-size: 8px;
  }

  .range-field {
    height: 300px;
  }

  .update-btn {
    width: 50%;
  }

  .cur-range {
    margin-left: 10px;
  }

  .time {
    margin-left: 100px
  }

  .x-btn {
    margin-left: 100px;
  }
}